infrastructure/stepfunctions/cleaner-workflow.json
{
  "Comment": "Cleaner coordination workflow - contacts cleaners in rank order until one confirms or all are exhausted",
  "StartAt": "InitializeState",
  "States": {
    "InitializeState": {
      "Type": "Pass",
      "Comment": "Initialize workflow state",
      "Parameters": {
        "input.$": "$",
        "cleanerConfirmed": false,
        "allCleanersExhausted": false
      },
      "ResultPath": "$.state",
      "Next": "CheckCleanerList"
    },
    "CheckCleanerList": {
      "Type": "Pass",
      "Comment": "Get cleaner count for comparison",
      "Parameters": {
        "input.$": "$.state.input",
        "cleanersCount.$": "States.ArrayLength($.state.input.property.cleaners)"
      },
      "ResultPath": "$.state.checkData",
      "Next": "CompareCleanerIndex"
    },
    "CompareCleanerIndex": {
      "Type": "Choice",
      "Comment": "Check if current index is beyond cleaner list",
      "Choices": [
        {
          "Variable": "$.state.input.currentCleanerIndex",
          "NumericLessThanPath": "$.state.checkData.cleanersCount",
          "Next": "GetCurrentCleaner"
        }
      ],
      "Default": "PrepareEscalation"
    },
    "PrepareEscalation": {
      "Type": "Pass",
      "Comment": "Extract values needed for escalation email",
      "Parameters": {
        "input.$": "$.state.input",
        "propertyName.$": "$.state.input.property.metadata.propertyName",
        "propertyAddress.$": "$.state.input.property.address",
        "checkInDate.$": "$.state.input.booking.checkInDate",
        "checkOutDate.$": "$.state.input.booking.checkOutDate",
        "cleaningDate.$": "States.ArrayGetItem(States.StringSplit($.state.input.cleaningDateTime, 'T'), 0)",
        "platform.$": "$.state.input.booking.platform",
        "bookingRef.$": "$.state.input.booking.bookingReference",
        "guestName.$": "$.state.input.booking.guestName",
        "ownerName.$": "$.state.input.property.metadata.ownerName"
      },
      "ResultPath": "$.state",
      "Next": "AllCleanersExhausted"
    },
    "GetCurrentCleaner": {
      "Type": "Pass",
      "Comment": "Extract current cleaner object from array",
      "Parameters": {
        "input.$": "$.state.input",
        "currentCleaner.$": "States.ArrayGetItem($.state.input.property.cleaners, $.state.input.currentCleanerIndex)",
        "propertyName.$": "$.state.input.property.metadata.propertyName",
        "propertyAddress.$": "$.state.input.property.address",
        "cleaningDate.$": "States.ArrayGetItem(States.StringSplit($.state.input.cleaningDateTime, 'T'), 0)",
        "numberOfGuests.$": "$.state.input.booking.numberOfGuests",
        "cleaningDuration.$": "$.state.input.property.metadata.cleaningDuration",
        "ownerName.$": "$.state.input.property.metadata.ownerName",
        "cleanerConfirmed.$": "$.state.cleanerConfirmed",
        "allCleanersExhausted.$": "$.state.allCleanersExhausted",
        "checkData.$": "$.state.checkData"
      },
      "ResultPath": "$.state",
      "Next": "FormatCleaningDate"
    },
    "FormatCleaningDate": {
      "Type": "Pass",
      "Comment": "Reformat date from YYYY-MM-DD to MM-DD-YYYY",
      "Parameters": {
        "input.$": "$.state.input",
        "currentCleaner.$": "$.state.currentCleaner",
        "propertyName.$": "$.state.propertyName",
        "propertyAddress.$": "$.state.propertyAddress",
        "numberOfGuests.$": "$.state.numberOfGuests",
        "cleaningDuration.$": "$.state.cleaningDuration",
        "ownerName.$": "$.state.ownerName",
        "cleanerConfirmed.$": "$.state.cleanerConfirmed",
        "allCleanersExhausted.$": "$.state.allCleanersExhausted",
        "checkData.$": "$.state.checkData",
        "cleaningDate.$": "States.Format('{}-{}-{}', States.ArrayGetItem(States.StringSplit($.state.cleaningDate, '-'), 1), States.ArrayGetItem(States.StringSplit($.state.cleaningDate, '-'), 2), States.ArrayGetItem(States.StringSplit($.state.cleaningDate, '-'), 0))"
      },
      "ResultPath": "$.state",
      "Next": "SendCleanerRequest"
    },
    "SendCleanerRequest": {
      "Type": "Task",
      "Comment": "Send email to cleaner requesting availability with callback links",
      "Resource": "arn:aws:states:::aws-sdk:ses:sendEmail.waitForTaskToken",
      "TimeoutSeconds": 32400,
      "Parameters": {
        "Source.$": "$.state.input.ownerEmail",
        "Destination": {
          "ToAddresses.$": "States.Array($.state.currentCleaner.email)",
          "CcAddresses.$": "States.Array($.state.input.ownerEmail)"
        },
        "Message": {
          "Subject": {
            "Data.$": "States.Format('Cleaning Request for {} on {}', $.state.propertyName, $.state.cleaningDate)"
          },
          "Body": {
            "Html": {
              "Data.$": "States.Format('<html><body><p>Hello {},</p><p>We have a new booking for <strong>{}</strong> and need a cleaning and laundry turnover.</p><p><strong>Details:</strong></p><ul><li>Date: {}</li><li>Time: 12:00 PM</li><li>Address: {}</li><li>Guests: {}</li></ul><p>Are you available on {} at 12:00 PM to do a cleaning and laundry turnover at {}?</p><p style=\"margin: 30px 0;\"><a href=\"{}/respond?token={}&response=yes\" style=\"background-color: #28a745; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; margin-right: 10px;\">YES - I am available</a><a href=\"{}/respond?token={}&response=no\" style=\"background-color: #dc3545; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px;\">NO - Not available</a></p><p>Thank you,<br>{}</p></body></html>', $.state.currentCleaner.name, $.state.propertyName, $.state.cleaningDate, $.state.propertyAddress, $.state.numberOfGuests, $.state.cleaningDate, $.state.propertyAddress, $.state.input.callbackApiUrl, $$.Task.Token, $.state.input.callbackApiUrl, $$.Task.Token, $.state.ownerName)"
            }
          }
        }
      },
      "ResultPath": "$.emailResult",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "IncrementCleanerIndex"
        }
      ],
      "Next": "EvaluateResponse"
    },
    "EvaluateResponse": {
      "Type": "Choice",
      "Comment": "Check if cleaner confirmed availability",
      "Choices": [
        {
          "Variable": "$.emailResult.response",
          "StringEquals": "yes",
          "Next": "CleanerConfirmed"
        }
      ],
      "Default": "IncrementCleanerIndex"
    },
    "CleanerConfirmed": {
      "Type": "Parallel",
      "Comment": "Send confirmation to cleaner and notification to owner",
      "Branches": [
        {
          "StartAt": "SendCleanerConfirmation",
          "States": {
            "SendCleanerConfirmation": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${CalendarLambdaArn}",
                "Payload": {
                  "FromEmail.$": "$.state.input.ownerEmail",
                  "ToEmail.$": "$.state.currentCleaner.email",
                  "Subject.$": "States.Format('Cleaning Confirmed for {} on {}', $.state.propertyName, $.state.cleaningDate)",
                  "HtmlBody.$": "States.Format('<html><body><p>Hello {},</p><p>Thank you for confirming your availability!</p><p>Your cleaning appointment has been scheduled:</p><ul><li>Property: {}</li><li>Date: {}</li><li>Time: 12:00 PM</li><li>Address: {}</li></ul><p>Please see the attached calendar invite.</p><p>Thank you,<br/>{}</p></body></html>', $.state.currentCleaner.name, $.state.propertyName, $.state.cleaningDate, $.state.propertyAddress, $.state.ownerName)",
                  "CleanerName.$": "$.state.currentCleaner.name",
                  "PropertyName.$": "$.state.propertyName",
                  "PropertyAddress.$": "$.state.propertyAddress",
                  "CleaningDate.$": "$.state.cleaningDate",
                  "CleaningDuration.$": "$.state.cleaningDuration"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "SendOwnerNotification",
          "States": {
            "SendOwnerNotification": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:ses:sendEmail",
              "Parameters": {
                "Source.$": "$.state.input.ownerEmail",
                "Destination": {
                  "ToAddresses.$": "States.Array($.state.input.ownerEmail)"
                },
                "Message": {
                  "Subject": {
                    "Data.$": "States.Format('Cleaning Scheduled for {} on {}', $.state.propertyName, $.state.cleaningDate)"
                  },
                  "Body": {
                    "Html": {
                      "Data.$": "States.Format('<html><body><p>Hello {},</p><p>A cleaning has been scheduled for {}:</p><ul><li>Cleaner: {}</li><li>Date: {}</li><li>Time: 12:00 PM</li><li>Address: {}</li></ul><p>Thank you,<br/>{}</p></body></html>', $.state.ownerName, $.state.propertyName, $.state.currentCleaner.name, $.state.cleaningDate, $.state.propertyAddress, $.state.ownerName)"
                    }
                  }
                }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "WorkflowSuccess"
    },
    "IncrementCleanerIndex": {
      "Type": "Pass",
      "Comment": "Move to next cleaner in list",
      "Parameters": {
        "input": {
          "booking.$": "$.state.input.booking",
          "property.$": "$.state.input.property",
          "cleaningDateTime.$": "$.state.input.cleaningDateTime",
          "currentCleanerIndex.$": "States.MathAdd($.state.input.currentCleanerIndex, 1)",
          "attemptCount.$": "States.MathAdd($.state.input.attemptCount, 1)",
          "ownerEmail.$": "$.state.input.ownerEmail",
          "callbackApiUrl.$": "$.state.input.callbackApiUrl"
        },
        "cleanerConfirmed": false,
        "allCleanersExhausted": false
      },
      "ResultPath": "$.state",
      "Next": "CheckCleanerList"
    },
    "AllCleanersExhausted": {
      "Type": "Task",
      "Comment": "Send escalation email to owner",
      "Resource": "arn:aws:states:::aws-sdk:ses:sendEmail",
      "Parameters": {
        "Source.$": "$.state.input.ownerEmail",
        "Destination": {
          "ToAddresses.$": "States.Array($.state.input.ownerEmail)"
        },
        "Message": {
          "Subject": {
            "Data.$": "States.Format('URGENT: Unable to Schedule Cleaning for {} on {}', $.state.propertyName, $.state.cleaningDate)"
          },
          "Body": {
            "Html": {
              "Data.$": "States.Format('<html><body><p>Hello {},</p><p>We were unable to secure a cleaner for the following booking:</p><ul><li>Property: {}</li><li>Check-in Date: {}</li><li>Checkout Date: {}</li><li>Cleaning Date: {}</li><li>Address: {}</li></ul><p>All preferred cleaners were contacted and either declined or did not respond.</p><p><strong>Please arrange for cleaning services manually.</strong></p><h3>Booking Details:</h3><ul><li>Platform: {}</li><li>Booking Reference: {}</li><li>Guest Name: {}</li></ul><p>Thank you,<br/>{}</p></body></html>', $.state.ownerName, $.state.propertyName, $.state.checkInDate, $.state.checkOutDate, $.state.cleaningDate, $.state.propertyAddress, $.state.platform, $.state.bookingRef, $.state.guestName, $.state.ownerName)"
            }
          }
        }
      },
      "ResultPath": "$.escalationResult",
      "Next": "WorkflowFailed"
    },
    "WorkflowSuccess": {
      "Type": "Succeed",
      "Comment": "Workflow completed successfully - cleaner confirmed"
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Comment": "Workflow failed - no cleaner available",
      "Error": "NoCleanerAvailable",
      "Cause": "All cleaners in the list were contacted but none confirmed availability"
    }
  }
}
