infrastructure/stepfunctions/cleaner-workflow.json
{
  "Comment": "Cleaner coordination workflow - contacts cleaners in rank order until one confirms",
  "StartAt": "InitializeState",
  "States": {
    "InitializeState": {
      "Type": "Pass",
      "Comment": "Initialize workflow state",
      "Parameters": {
        "input.$": "$",
        "cleanerConfirmed": false,
        "allCleanersExhausted": false
      },
      "ResultPath": "$.state",
      "Next": "CheckCleanerList"
    },
    "CheckCleanerList": {
      "Type": "Pass",
      "Comment": "Get cleaner count for comparison",
      "Parameters": {
        "input.$": "$.state.input",
        "cleanersCount.$": "States.ArrayLength($.state.input.Property.Cleaners)"
      },
      "ResultPath": "$.state.checkData",
      "Next": "CompareCleanerIndex"
    },
    "CompareCleanerIndex": {
      "Type": "Choice",
      "Comment": "Check if current index is beyond cleaner list",
      "Choices": [
        {
          "Variable": "$.state.input.CurrentCleanerIndex",
          "NumericLessThanPath": "$.state.checkData.cleanersCount",
          "Next": "GetCurrentCleaner"
        }
      ],
      "Default": "PrepareEscalation"
    },
    "PrepareEscalation": {
      "Type": "Pass",
      "Comment": "Extract values needed for escalation email",
      "Parameters": {
        "input.$": "$.state.input",
        "propertyName.$": "$.state.input.Property.Name",
        "propertyAddress.$": "$.state.input.Property.Address",
        "checkInDate.$": "$.state.input.Booking.CheckInDate",
        "checkOutDate.$": "$.state.input.Booking.CheckOutDate",
        "cleaningDate.$": "States.ArrayGetItem(States.StringSplit($.state.input.CleaningDateTime, 'T'), 0)",
        "platform.$": "$.state.input.Booking.Platform",
        "bookingRef.$": "$.state.input.Booking.BookingReference",
        "guestName.$": "$.state.input.Booking.GuestName"
      },
      "ResultPath": "$.state",
      "Next": "AllCleanersExhausted"
    },
    "GetCurrentCleaner": {
      "Type": "Pass",
      "Comment": "Extract current cleaner object from array",
      "Parameters": {
        "input.$": "$.state.input",
        "currentCleaner.$": "States.ArrayGetItem($.state.input.Property.Cleaners, $.state.input.CurrentCleanerIndex)",
        "propertyName.$": "$.state.input.Property.Name",
        "propertyAddress.$": "$.state.input.Property.Address",
        "cleaningDate.$": "States.ArrayGetItem(States.StringSplit($.state.input.CleaningDateTime, 'T'), 0)",
        "cleanerConfirmed.$": "$.state.cleanerConfirmed",
        "allCleanersExhausted.$": "$.state.allCleanersExhausted",
        "checkData.$": "$.state.checkData"
      },
      "ResultPath": "$.state",
      "Next": "SendCleanerRequest"
    },
    "SendCleanerRequest": {
      "Type": "Task",
      "Comment": "Send email to cleaner requesting availability with callback links",
      "Resource": "arn:aws:states:::aws-sdk:ses:sendEmail.waitForTaskToken",
      "Parameters": {
        "Source.$": "$.state.input.OwnerEmail",
        "Destination": {
          "ToAddresses.$": "States.Array($.state.currentCleaner.Email)"
        },
        "Message": {
          "Subject": {
            "Data.$": "States.Format('Cleaning Request for {} on {}', $.state.input.Property.Name, States.ArrayGetItem(States.StringSplit($.state.input.CleaningDateTime, 'T'), 0))"
          },
          "Body": {
            "Html": {
              "Data.$": "States.Format('<html><body><p>Hello {},</p><p>We have a new booking for <strong>{}</strong> and need a cleaning and laundry turnover.</p><p><strong>Details:</strong></p><ul><li>Date: {}</li><li>Time: 12:00 PM</li><li>Address: {}</li></ul><p>Are you available on {} at 12:00 PM to do a cleaning and laundry turnover at {}?</p><p style=\"margin: 30px 0;\"><a href=\"{}/respond?token={}&response=yes\" style=\"background-color: #28a745; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; margin-right: 10px;\">YES - I am available</a><a href=\"{}/respond?token={}&response=no\" style=\"background-color: #dc3545; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px;\">NO - Not available</a></p><p>Thank you,<br>RentalTurnManager</p></body></html>', $.state.currentCleaner.Name, $.state.input.Property.Name, States.ArrayGetItem(States.StringSplit($.state.input.CleaningDateTime, 'T'), 0), $.state.input.Property.Address, States.ArrayGetItem(States.StringSplit($.state.input.CleaningDateTime, 'T'), 0), $.state.input.Property.Address, $.state.input.CallbackApiUrl, $$.Task.Token, $.state.input.CallbackApiUrl, $$.Task.Token)"
            }
          }
        }
      },
      "ResultPath": "$.emailResult",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "IncrementCleanerIndex"
        }
      ],
      "Next": "EvaluateResponse"
    },
    "EvaluateResponse": {
      "Type": "Choice",
      "Comment": "Check if cleaner confirmed availability",
      "Choices": [
        {
          "Variable": "$.response",
          "StringEquals": "yes",
          "Next": "CleanerConfirmed"
        }
      ],
      "Default": "IncrementCleanerIndex"
    },
    "CleanerConfirmed": {
      "Type": "Parallel",
      "Comment": "Send confirmation to cleaner and notification to owner",
      "Branches": [
        {
          "StartAt": "SendCleanerConfirmation",
          "States": {
            "SendCleanerConfirmation": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:ses:sendEmail",
              "Parameters": {
                "Source.$": "$.state.input.OwnerEmail",
                "Destination": {
                  "ToAddresses.$": "States.Array($.state.currentCleaner.Email)"
                },
                "Message": {
                  "Subject": {
                    "Data.$": "States.Format('Cleaning Confirmed for {} on {}', $.state.propertyName, $.state.cleaningDate)"
                  },
                  "Body": {
                    "Html": {
                      "Data.$": "States.Format('<html><body><p>Hello {},</p><p>Thank you for confirming your availability!</p><p>Your cleaning appointment has been scheduled:</p><ul><li>Property: {}</li><li>Date: {}</li><li>Time: 12:00 PM</li><li>Address: {}</li></ul><p>Thank you,<br/>RentalTurnManager</p></body></html>', $.state.currentCleaner.Name, $.state.propertyName, $.state.cleaningDate, $.state.propertyAddress)"
                    }
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "SendOwnerNotification",
          "States": {
            "SendOwnerNotification": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:ses:sendEmail",
              "Parameters": {
                "Source.$": "$.state.input.OwnerEmail",
                "Destination": {
                  "ToAddresses.$": "States.Array($.state.input.OwnerEmail)"
                },
                "Message": {
                  "Subject": {
                    "Data.$": "States.Format('Cleaning Scheduled for {} on {}', $.state.propertyName, $.state.cleaningDate)"
                  },
                  "Body": {
                    "Html": {
                      "Data.$": "States.Format('<html><body><p>Hello,</p><p>A cleaning has been scheduled for {}:</p><ul><li>Cleaner: {}</li><li>Date: {}</li><li>Time: 12:00 PM</li><li>Address: {}</li></ul><p>Thank you,<br/>RentalTurnManager</p></body></html>', $.state.propertyName, $.state.currentCleaner.Name, $.state.cleaningDate, $.state.propertyAddress)"
                    }
                  }
                }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "WorkflowSuccess"
    },
    "IncrementCleanerIndex": {
      "Type": "Pass",
      "Comment": "Move to next cleaner in list",
      "Parameters": {
        "input": {
          "Booking.$": "$.state.input.Booking",
          "Property.$": "$.state.input.Property",
          "CleaningDateTime.$": "$.state.input.CleaningDateTime",
          "CurrentCleanerIndex.$": "States.MathAdd($.state.input.CurrentCleanerIndex, 1)",
          "AttemptCount.$": "States.MathAdd($.state.input.AttemptCount, 1)",
          "OwnerEmail.$": "$.state.input.OwnerEmail",
          "CallbackApiUrl.$": "$.state.input.CallbackApiUrl"
        },
        "cleanerConfirmed": false,
        "allCleanersExhausted": false
      },
      "ResultPath": "$.state",
      "Next": "CheckCleanerList"
    },
    "AllCleanersExhausted": {
      "Type": "Task",
      "Comment": "Send escalation email to owner",
      "Resource": "arn:aws:states:::aws-sdk:ses:sendEmail",
      "Parameters": {
        "Source.$": "$.state.input.OwnerEmail",
        "Destination": {
          "ToAddresses.$": "States.Array($.state.input.OwnerEmail)"
        },
        "Message": {
          "Subject": {
            "Data.$": "States.Format('URGENT: Unable to Schedule Cleaning for {} on {}', $.state.propertyName, $.state.cleaningDate)"
          },
          "Body": {
            "Html": {
              "Data.$": "States.Format('<html><body><p>Hello,</p><p>We were unable to secure a cleaner for the following booking:</p><ul><li>Property: {}</li><li>Check-in Date: {}</li><li>Checkout Date: {}</li><li>Cleaning Date: {}</li><li>Address: {}</li></ul><p>All preferred cleaners were contacted and either declined or did not respond.</p><p><strong>Please arrange for cleaning services manually.</strong></p><h3>Booking Details:</h3><ul><li>Platform: {}</li><li>Booking Reference: {}</li><li>Guest Name: {}</li></ul><p>Thank you,<br/>RentalTurnManager</p></body></html>', $.state.propertyName, $.state.checkInDate, $.state.checkOutDate, $.state.cleaningDate, $.state.propertyAddress, $.state.platform, $.state.bookingRef, $.state.guestName)"
            }
          }
        }
      },
      "ResultPath": "$.escalationResult",
      "Next": "WorkflowFailed"
    },
    "WorkflowSuccess": {
      "Type": "Succeed",
      "Comment": "Workflow completed successfully - cleaner confirmed"
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Comment": "Workflow failed - no cleaner available",
      "Error": "NoCleanerAvailable",
      "Cause": "All cleaners in the list were contacted but none confirmed availability"
    }
  }
}
